* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.menu {
  width: 300px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu header {
  text-align: center;
  margin-bottom: 20px;
}

.menu header img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.menu header h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.menu header p {
  font-size: 16px;
  text-align: justify;
  margin-bottom: 20px;
}

.menu nav {
  width: 100%;
}

.menu nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu nav li {
  margin-bottom: 10px;
}

.menu nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
  background-color: #555;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.menu nav li a:hover {
  background-color: #444;
}

.main-content {
  flex: 1;
  background-color: #fff;
  padding: 20px;
}

.main-content header {
  text-align: center;
  margin-bottom: 20px;
}

.main-content header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.main-content header p {
  font-size: 18px;
  text-align: justify;
  margin-bottom: 20px;
}

.main-content section {
  display: none;
}

.main-content section.ativo {
  display: block;
}

.main-content section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.main-content section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-content section li {
  margin-bottom: 10px;
}

.main-content section li:before {
  content: "\2022";
  color: #555;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
